/* line 1, ../sass/style.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/style.scss */
.top5 {
  margin-top: 5px;
}

/* line 7, ../sass/style.scss */
.top10 {
  margin-top: 10px;
}

/* line 7, ../sass/style.scss */
.top15 {
  margin-top: 15px;
}

/* line 7, ../sass/style.scss */
.top20 {
  margin-top: 20px;
}

/* line 7, ../sass/style.scss */
.top25 {
  margin-top: 25px;
}

/* line 7, ../sass/style.scss */
.top30 {
  margin-top: 30px;
}

/* line 7, ../sass/style.scss */
.top35 {
  margin-top: 35px;
}

/* line 7, ../sass/style.scss */
.top40 {
  margin-top: 40px;
}

/* line 7, ../sass/style.scss */
.top45 {
  margin-top: 45px;
}

/* line 7, ../sass/style.scss */
.top50 {
  margin-top: 50px;
}

/* line 7, ../sass/style.scss */
.top55 {
  margin-top: 55px;
}

/* line 7, ../sass/style.scss */
.top60 {
  margin-top: 60px;
}

/* line 7, ../sass/style.scss */
.top65 {
  margin-top: 65px;
}

/* line 7, ../sass/style.scss */
.top70 {
  margin-top: 70px;
}

/* line 7, ../sass/style.scss */
.top75 {
  margin-top: 75px;
}

/* line 7, ../sass/style.scss */
.top80 {
  margin-top: 80px;
}

/* line 15, ../sass/style.scss */
.bottom5 {
  margin-bottom: 5px;
}

/* line 15, ../sass/style.scss */
.bottom10 {
  margin-bottom: 10px;
}

/* line 15, ../sass/style.scss */
.bottom15 {
  margin-bottom: 15px;
}

/* line 15, ../sass/style.scss */
.bottom20 {
  margin-bottom: 20px;
}

/* line 15, ../sass/style.scss */
.bottom25 {
  margin-bottom: 25px;
}

/* line 15, ../sass/style.scss */
.bottom30 {
  margin-bottom: 30px;
}

/* line 15, ../sass/style.scss */
.bottom35 {
  margin-bottom: 35px;
}

/* line 15, ../sass/style.scss */
.bottom40 {
  margin-bottom: 40px;
}

/* line 15, ../sass/style.scss */
.bottom45 {
  margin-bottom: 45px;
}

/* line 15, ../sass/style.scss */
.bottom50 {
  margin-bottom: 50px;
}

/* line 15, ../sass/style.scss */
.bottom55 {
  margin-bottom: 55px;
}

/* line 15, ../sass/style.scss */
.bottom60 {
  margin-bottom: 60px;
}

/* line 15, ../sass/style.scss */
.bottom65 {
  margin-bottom: 65px;
}

/* line 15, ../sass/style.scss */
.bottom70 {
  margin-bottom: 70px;
}

/* line 15, ../sass/style.scss */
.bottom75 {
  margin-bottom: 75px;
}

/* line 15, ../sass/style.scss */
.bottom80 {
  margin-bottom: 80px;
}
